    <div class="page-title">
        <h1>{{message}}<small>{{submessage}}</h1>
    </div>
    <div class="row {{beer.activeTapClass}} beer-list" ng-repeat="beer in beerList">
      <div class="col-md-1 col-xs-2 text-center " style="background-color: rgb({{beer.srmRgb}});">
        <h1 style="color: {{getColor(beer)}}">{{beer.tapNum}}</h1>
      </div>
      <div class="col-sm-5 col-xs-6">
        <span class="beer-name">{{beer.name}}</span>
      </div>
      <div class="col-sm-6 col-xs-4">
        <span class="date">{{beer.createdDate}}</span>
      </div>
      <div class="col-sm-11 col-xs-10 ">
        <a ng-click="toggleDetails(beer)">show details</a>
        <span class="details">{{beer.visibleDetails}}</span>
      </div>
      <div class="col-sm-11 col-xs-11" style="margin-top:10px">
        <button ng-hide="{{beer.tapNum == tapNum}}" ng-click="associate(beer)" class="btn btn-default glyphicon glyphicon-ok">Associate</button>
        <button ng-show="{{beer.tapNum}}" ng-click="kickIt(beer)" class="btn btn-default glyphicon glyphicon-remove">Kick</button>
      </div>
    </div>
